<div class='igraphic-header'>
	<div class='hed'>
		A new age for an old town
	</div>
	<hr />
	<div class='subhed'>
	Boston is in the midst of a building boom never seen in its history, with an influx of new residents and companies giving rise to skyscraping towers, thousands of homes, and retail businesses that are redefining commercial districts citywide. Below, a list of development projects sorted by planned square feet.<span class='updated'>Updated Feb. 24, 2015.</span>
	</div>
</div>